body {
    background-color: #1d3557;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
/* utilitaires */
.d-none {
    display: none;
}
/* style textes  */
h1 {
  color: #f1faee;
  font-size: 2em;
  text-align: center;
}
h2 {
    margin: 0;
    font-style: italic;
    font-size: 1.3em;
    text-decoration: underline;
}
h3{
    color: #f1faee;
    font-size: 3em;
}
.rules p {
    color: #f1faee;
    text-align: center;
    font-size: 1.2em;
}

p {
    font-size: 1em;
}
.play {
    display: flex;
    justify-content: center;
}
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

/* container qui englobe tout les elements */
.container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

/* titre*/
.titre {
    display: flex;
    justify-content: center;
    width: 100%;
}
.titre img {
    padding-top: 2%;
    padding-bottom: 3%;
}
/* coontainer qui englobe le xtrasmallcontainer et la div "rules" */
.smallcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
} 

/* container qui englobe la carte et le beandeau région */
.xtrasmllcontainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    width: 100%;
}

/* container de la carte */
.map{
    width: 100%;
    
}
/* container bendeau région */
.info{
    padding-left: 10% ;
    gap: 10%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    background-color: #8d99ae;
    box-shadow: #e63946 10px 10px 0px 0px;
    width: 80%;
    max-height: 40px;
    
}

.rules {

    width: 100%;
    display: flex; 
    flex-direction: column;
}

.nop {
    fill: #e9c46a;
    fill-opacity: 1;
    transform:scale(1.03);
    stroke:rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 3;
    transform-origin: center;
}
.win {
    
    fill: #095b2f;
    fill-opacity: 1;
    transform:scale(1.03);
    stroke:rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 3;
    transform-origin: center;
}
.land {

    fill: #f1faee;
    fill-opacity: 1 ;
    stroke:rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 1;
    transform-origin: center;
}

.land:hover{
    transform: scale(1.02);  
    stroke-width: 2px;
}

.resultat {
    width: 100%;
    padding-left: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

@media (max-width:500px) {
    
    .smallcontainer{
        display: flex;
        flex-direction: column-reverse;
    }
    h1 {
        font-size: 1.2em;
    }
    .resultat {
        padding-left: 0%;
    }
    h3 {
        font-size: 2em;
    }
    .play {
        margin-bottom: 20px;

    }
    
    .xtrasmllcontainer{
        flex-direction: column;
        gap: 30px;
    }
    .info {
        width: 70%;
        padding-left: 5%;
    }
    .titre {
        display: none;
    }
}

