body {
   background-color: #1d3557;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}
.win {
     
    fill: #095b2f;
    fill-opacity: 1;
    transform:scale(1.03);
    stroke:rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 3;
    transform-origin: center;
}
/* container du titre */
.titre {
    display: flex;
    justify-content: center;
    width: 100%;
}
.titre img {
    padding-top: 50px;
    padding-bottom: 150px;
}
/* container qui englobe la carte et les infos textuels */
.smallcontainer {
    display: flex;
    width: 100%;
}
/* container de la carte */
.map{
    width: 50%;
    max-width: 50%;

}
.land {

    fill: #f1faee;
    fill-opacity: 1 ;
    stroke:rgb(24, 23, 23);
    stroke-opacity: 1;
    stroke-width: 1;
    transform-origin: center;
}

.land:hover{
    fill: #e63946;
    transform: scale(1.02);  
    stroke-width: 2px;
}

/* container des infos textuels */

.info{
    display: flex;
    align-items: center;
    justify-content: left;
    justify-content: space-around;
    background-color: #8d99ae;
    box-shadow: #e63946 10px 10px;
    width: 30%;
    height:6%;
    
}

h1 {
    margin: 0;
    font-style: italic;
}

p {
    font-size: 24px;
}